:root {
  --font-color: #333;
  --font-white: white;
  --color-black: #272a31;
  --color-black: #ec5242;
  --color-black: #d3d3d3;
}

.white-font {
  color: var(--font-white);
}

* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

#intro-rap {
  background-image: url(./visuals/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#intro-container {
  padding-top: 51px;
}

#intro-article {
  width: 90%;
}
